* {
    @font-face {
        font-family: Montserrat-Italic-VariableFont_wght;
        src: url(Montserrat-Italic-VariableFont_wght.ttf);
    }
    /* tried to add my own font here but i do not know how mr Tim */
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 100vh;
    gap: 60px;
}

main {
    display: flex;
    flex-direction: row;
}

address {
    width: 40%;
}

section {
    width: 40%;
}
