
.box {
    background-color: brown;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    border: 10px solid black;
}

.second-box {
    background-color: brown;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 20px;
    border: 10px solid black;
}
