* {
    font-family: monospace;
    color: white;
}

body {
    background-color: black;
}

img {
    display: flex;
    
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

.pageOne {
    background-image: url(./images/xT45PKPeNkBcOf6aQckwQ08r8CM69Ehll4Z4f11G.jpg);
    height: 100vh;
}

.title {
    position: absolute;
}
h1 {
    font-size: 60px;
}

a {
    height: 100vh;
    color: white;
    border: solid white;
    font-size: 18px;
    text-decoration: none;
    border: none;
}

a:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
}

p { 
    font-size: 18px;
    bottom: 900px;
}

footer {
    text-align: center;
}


